version: "3.9"

services:
  redis:
    image: redis:8.4
    container_name: redis
    restart: unless-stopped
    command: [
      "redis-server",
      "--save", "60", "1",          # Snapshot every minute if at least 1 key changed
      "--loglevel", "warning",
      "--requirepass", "${REDIS_PASSWORD}"
    ]
    env_file:
      - ../.env
    volumes:
      - /var/lib/podman-volumes/redis/data:/data
    ports:
      - "6379:6379"

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis-commander
    restart: unless-stopped
    environment:
      REDIS_HOSTS: "local:redis:6379"
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    ports:
      - "8081:8081"
    depends_on:
      - redis
