services:
  caddy:
    image: caddy:2.11
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - /var/lib/podman-volumes/caddy/data:/data
      - /var/lib/podman-volumes/caddy/config:/config
    security_opt:
      - label=disable
